<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ea veniam obcaecati modi tempora, harum repellendus quibusdam cumque nemo qui.</p>
    </header>
    <div style="width: 30%; padding: 4rem;">
        <div class="card">
            <header class="card__header  card--secondary">Card title</header>
            <div class="card__body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, itaque?
            </div>
        </div>
    </div>
</section>
<section class="block block--dark  block--skewed-left ">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ea veniam obcaecati modi tempora, harum repellendus quibusdam cumque nemo qui.</p>
    </div>
</section>
<script src="js/main.js"></script>